
<header id="adminHeaderDesktop" class="justify-content-center py-2 border-bottom bg-light text-dark">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="{{ path('main') }}" class="nav-link" aria-current="page">Accueil</a></li>
    <li class="nav-item"><a href="{{ path('carte') }}" class="nav-link">Carte</a></li>
    <li class="nav-item"><a href="{{ path('contact') }}" class="nav-link">Contact</a></li>
  </ul>
</header>
