
<nav id="adminNavMobile" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Administration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Galerie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Carte </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Formules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Réservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Couverts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Horaires </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clients </a>
        </li>
    </div>
  </div>
</nav>






