<form method="post" action="{{ path('app_soir_delete', {'id': soir.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ soir.id) }}">
    <button class="btn">Delete</button>
</form>
