{% extends 'admin/adminTemplate.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}
    <div class="h1Admin">
    <h1>Client</h1>
        <a href="{{ path('app_user_index') }}" class="btn btn-outline-primary">Retour</a>
        <div class="deleteButton">
            {{ include('admin/user/_delete_form.html.twig') }}
        </div>  
  </div>
    {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
