{% extends 'admin/index.html.twig' %}

{% block title %}Edit Galerie{% endblock %}

{% block section %}         
                <h1>Galerie</h1>

                {{ include('admin/galerie/_form.html.twig', {'button_label': 'Modifier'}) }}

                <a href="{{ path('app_galerie_index') }}" class="btn btn-outline-primary">
                Retour à la liste</a>
{% endblock %}
