{% extends 'admin/adminTemplate.html.twig' %}

{% block title %}Edit Galerie{% endblock %}

{% block main %}         
  <div class="h1Admin">
    <h1>Galerie</h1>
      <a href="{{ path('app_galerie_index') }}" class="btn btn-outline-primary">
    Retour à la liste</a>
  </div>
    {{ include('admin/galerie/_form.html.twig', {'button_label': 'Modifier'}) }}

               
{% endblock %}
