{% extends 'base.html.twig' %}

{% block title %}Edit Galerie{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
        {% include "_partials/_adminNav.html.twig" %}
            <div class="col-9">
            
                <h1>Edit Galerie</h1>

                {{ include('admin/galerie/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('app_galerie_index') }}">back to list</a>

                {# {{ include('admin/galerie/_delete_form.html.twig') }} #}
            </div>
        </section>
    </main>
{% endblock %}
