{% extends 'main/template.html.twig'%}

{% block title %}Contact | {{ parent()}} {% endblock %}

{% block main %}

  <div>
    <div class="mt-5">
        <h1 class="text-center display-5 fw-bold">Contacts</h1>    
    </div>
    <section class="mt-5 mb-5 p-5">
      <ul class="flex-column list-unstyled">
        <li class="mb-2 fw-bold">- Adresse e-mail :</li>
        <li class="mb-2">contact@lequaiantique-chambery.fr</li>
        <li class="mb-2 fw-bold">- Téléphone :</li>
        <li class="mb-2">04 79 00 00 00</li>
        <li class="mb-2"></li>
      </ul>
    </section>
  </div>
 
{% endblock %}