{% extends 'base.html.twig'%}

{% block title %}Homepage{% endblock %}

{% block body %}
  {# Ici on utilise la variable name #}
  <h1>Site restaurant</h1>
  <p>Bonjour {{ name }}, vous êtes sur la page d'accueil.</p>
{% endblock %}
