{% extends 'base.html.twig'%}

{% block title %}Main{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/override-bootstrap.css') }}"> 
{% endblock %} 

{% block body %}
  <header>
    {% include "_partials/_navbar.html.twig" %}
    {# {% include "_partials/_mainBanner.html.twig" %} #}
    <!-- header-background -->
    <div class="header-picture">   
      {# <div class="header-picture-background"> #}
        {# <p id="header-picture-title" class="fs-4">Le Quai Antique</p> #}
        <img src="{{ asset('assets/logo/Le-Quai-Antique.png') }}" alt="Logo restaurant">
      {# </div> #}
    </div>   
  </header>
  {% include "_partials/_flash.html.twig" %}
  <main id="frontMain" class="container-fluid">
    {% block main %}{% endblock %}
  </main>
  <footer class="container-fluid">
    {% include "_partials/_footer.html.twig" %}   
  </footer> 
    {% include "_partials/_copyright.html.twig" %}     
{% endblock %}