{% extends 'template.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/reservation-Form.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/reservation-Form.js') }}"defer></script> 
{% endblock %}

{% block main %}
    <section class="mb-5">
                <h1 class="text-center mb-4">Réservation</h1>

                {# <div id="fullAlert" class="alert alert-danger" role="alert">
                    <strong>Le restaurant est complet,</strong> nous sommes désolés pour ce désagrément !
                </div> #}

                {{ include('admin/reservationAdmin/_form.html.twig') }}  
    </section>
{% endblock %}
