{% extends 'base.html.twig' %}

{% block title %}Edit Soir{% endblock %}

{% block body %}
    <h1>Edit Soir</h1>

    {{ include('soir/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_soir_index') }}">back to list</a>

    {{ include('soir/_delete_form.html.twig') }}
{% endblock %}
