{% extends 'base.html.twig' %}

{% block title %}Edit ServiceMidi{% endblock %}

{% block body %}
    <h1>Edit ServiceMidi</h1>

    {{ include('service_midi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_service_midi_index') }}">back to list</a>

    {{ include('service_midi/_delete_form.html.twig') }}
{% endblock %}
