{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascript %}{% endblock %}

{% block body %}
    <main class="container-fluid shadow bg-body-tertiary rounded my-4"> 

        <div id="adminNavMobileDisplay">
            {% include "_partials/_adminNavMobile.html.twig" %}
        </div>

        <div class="row">    
            <div id="adminNavDesktopDisplay" class="col-2">
                {% include "_partials/_adminNavDesktop.html.twig" %}
            </div>
            <section class="col-8  p-3 my-4 offset-1">
                {% block section %}{% endblock %}    
            </section> 
        </div>
    </main>
{% endblock %}
