{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
    {% include "_partials/_adminNavMobile.html.twig" %}
   
    <div id="wrapper">  
        {% include "_partials/_adminSidebarDesktop.html.twig" %}    
        <div> 
            {% include "_partials/_adminHeaderDesktop.html.twig" %}   
            <main class="pt-4 px-4">
                {% block section %}{% endblock %}    
            </main> 
            <footer id="adminFooter" class="text-bg-dark fixed-bottom border-top">
                <a href="{{ path('main') }}">
                    <img id="homeIcon" src="{{ asset('assets/icons/house.svg') }}" alt="Home">
                </a>
                
                
            </footer>
        </div>
    </div>
{% endblock %}
