{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
    
    <div id="adminNavMobileDisplay">
        {% include "_partials/_adminNavMobile.html.twig" %}
    </div>

    <div id="adminDesktopWrapper">    
        <div id="adminNavDesktopDisplay">
            {% include "_partials/_adminNavDesktop.html.twig" %}
        </div>
        <section id="tableSection" class="container-fluid p-3">
            {% block section %}{% endblock %}    
        </section> 
    </div>
{% endblock %}
