{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <main class="container-fluid">
        <section class="row">
            {% include "_partials/_adminNav.html.twig" %}
            <div class="col-9 border border-light bg-white p-2">
                <h1>Administration</h1>
            </div> 
        </section>
    </main>
{% endblock %}
