{% extends 'admin/adminTemplate.html.twig' %}

{% block title %}Nouvelle Formule{% endblock %}

{% block main %}
    <div class="h1Admin">
        <h1>Nouvelle Formule</h1>
        <a href="{{ path('app_formule_index') }}" class="btn btn-outline-primary">Retour</a>
    </div>

    {{ include('admin/formule/_form.html.twig') }}
{% endblock %}
