html {
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0; 
  padding: 0;
}

@font-face {
  font-family: 'ULTRA';
  src: url('../fonts/Ultra-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.ttf') format('truetype');
}

body {
  height: 100vh;
  font-family: 'Lora', serif;
  font-size: 20px;
}

#frontMain {
  min-height: 85vh;
}

section {
  padding: 8%;
}

/* img {
  max-width: 100%;
    height: auto;
} */

.restaurant-name {
  font-family: 'ULTRA', sans-serif;
  /* font-size: 1.5rem; */
  color: #642b2d;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

/*---------------------Navbar-------------------------*/

/* #navbar li a:hover {
  color: #ff8264;
} */

#navbar > a {
  font-size: 1.5rem;
}

#navbar > a > p {
  /* background-color: aquamarine; */
  line-height: 0.4;
}

#navbar ul {
  margin-top: -10px;
}

#adminNavMobile {
  height: 8%;
}

#adminNavMobile .navbar-nav  a:hover {
  color: #ff8264;
  /* background-color: #ff8264;  */
}

#adminSidebarDesktop, #adminHeaderDesktop {
  display: none;
}

#navbarBotton {
  display: flex;
  justify-content: flex-end;
}


/*---------------------Header-picture-------------------------*/

.header-picture {
  position: relative;
  height: 300px; 
  width: 100%;
  background-image: url('../uploads/images/main-banner.jpg');
  background-size: cover;
  background-position: bottom;
  /* border: 2px solid ; */
  display: flex; /* Flexbox pour centrer l'image horizontalement et verticalement */
  justify-content: center; /* centre l'image horizontalement */
  align-items: center; /* centre l'image verticalement */
}

.header-picture-background {
  position:absolute;
  width: 170px;
  height: 8%;
  left: 0;
  right: 0;
  bottom: 2%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  text-align: center;
}

#header-picture-title {
  position: relative;
  bottom: 4px; 
  color: white;
}

/* Logo */
.header-picture > img {
  position: absolute;
  bottom: 8px;
  width: 18vw;
}


/*-----------------------.h1Admin-----------------------*/
.h1Admin {
  display: flex;
  align-items: center; 
  margin-bottom: 2vh; 
}

.h1Admin > a, .deleteButton {
  height: 40px;
  margin-left: 20px;
}

/*---------------------Form-------------------------*/
#formDiv {
  width: 100%;
  max-height: 77vh;
  overflow-y: auto;
  padding-bottom: 5vh;
}

/*---------------------Tables-------------------------*/

.tableResponsive {
  max-height: 72vh; 
  overflow-y: auto;
}

table {
  width: 100%; 
  min-width: 300px;
  /* overflow-x: auto; */
  border-collapse: collapse;
}

th, td {
  padding: 0.5em;
  min-width: 100px;
  width: auto;
  /* max-width: none; */
  max-width: 200px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*-----------------------Footer-------------------------*/

footer {
  margin-top: 200px;
}

#logo-footer {
  display: inline-block; /* Assurez-vous que l'image est affichée en tant que bloc pour pouvoir centrer horizontalement */
  margin: 0 auto;
  vertical-align: middle;
}

#TableHoraires td {
  vertical-align: top;
  padding-right: 20px;
}

#adminFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
}

/*-----------------------Icons-------------------------*/

#homeIcon {
  /* position: absolute;
  bottom: 10%;
  right: 1%; */
  height: 5vh;
  filter: invert(100%);
}

/*-----------------------@media query-----------------------*/
@media screen and (min-width: 992px) {

  #navbar ul {
    margin-top: 0;
  }

  #adminNavMobile {
    display: none;
  }

  #adminSidebarDesktop, #adminHeaderDesktop {
    display: block;
    display: flex;
  }
  
  #wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  #adminSidebarDesktop { 
    
    flex-basis: 190px;
    height: 100%;
  }

  #adminSidebarDesktop .nav-pills a:hover { 
    /* color: orange; */
    background-color: #ff8264; 
  }

  #wrapper > div {
    flex: 2;
  }

  #adminHeaderDesktop {
    height: 9%;
  }

  #adminHeaderDesktop .nav-pills a:hover {
    color: white;
    background-color: #ff8264; 
  }

  #adminMain {
    height: 91%;
  }

  .tableResponsive {
    max-height: 87%;
  }

  #adminFooter {
    display: none;
  }

  .header-picture {
    position: relative;
    height: 500px; 
    width: 100%;
    background-image: url('../uploads/images/main-banner.jpg');
    background-size: cover;
    background-position: bottom;
    /* border: 2px solid ; */
  }

  .h1-background {
    position:absolute;
    width: 160px;
    height: 8%;
    left: 0;
    right: 0;
    bottom: 3%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    text-align: center;
  }
  
  #h1-header-picture {
    position: relative;
    bottom: 9px; 
  }

  /* Logo */
  .header-picture > img {
    position: absolute;
    bottom: 8px;
    width: 120px;
  }

  .categoryName {
    margin-left: 10vw;
  }
}