html {
  height: 100%;
  width: 100%;
}

main {
  min-height: 100vh;
}

/*---------------------Navbar-------------------------*/

#adminNavDesktopDisplay {
  display: none;
}

#adminNavDesktop { 
  width: 190px;
  /* height: 100%; */
  margin-right: 3vw;
  margin-left: 5vw;
}

#TableHoraires td {
  vertical-align: top;
  padding-right: 20px;
}

@media screen and (min-width: 992px) {
  #adminNavDesktopDisplay {
    display: block;
  }

  #adminNavMobileDisplay {
    display: none;
  }
}

/*---------------------Tables-------------------------*/

table {
  width: 100%;
  min-width: 300px;
  overflow-x: auto;
  border-collapse: collapse;
}

th, td {
  padding: 0.5em;
  min-width: 100px;
  width: auto;
  max-width: none;
}

/*-----------------------.h1Admin-----------------------*/
.h1Admin {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.h1Admin > a, .deleteButton {
  height: 40px;
  margin-left: 20px;
}