{% extends 'base.html.twig' %}

{% block title %}Edit Couverts{% endblock %}

{% block body %}
    <h1>Couverts</h1>

    {{ include('admin/couvert/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_couvert_index') }}" class="btn btn-outline-primary me-2">Retour</a>

    {# {{ include('admin/couvert/_delete_form.html.twig') }} #}
{% endblock %}
