{% extends 'admin/adminTemplate.html.twig' %}

{% block title %}Edit Couverts{% endblock %}

{% block main %}
    <div class="h1Admin">
        <h1>Couverts</h1>
        <a href="{{ path('app_couvert_index') }}" class="btn btn-outline-primary">Retour</a>
    </div> 

    {{ include('admin/couvert/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
