{% extends 'admin/index.html.twig' %}

{% block title %}Couvert index{% endblock %}

{% block section %}
       
    <h1>Couverts</h1>

    <div class="tableResponsive table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>MaxCouverts</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for couvert in couverts %}
                    <tr>
                        <td>{{ couvert.maxCouverts }}</td>
                        <td>
                            {# <a href="{{ path('app_couvert_show', {'id': couvert.id}) }}">show</a> #}
                            <a href="{{ path('app_couvert_edit', {'id': couvert.id}) }}"
                            class="btn btn-primary">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
