{% extends 'base.html.twig' %}

{% block title %}New Couvert{% endblock %}

{% block body %}
    <h1>Create new Couvert</h1>

    {{ include('admin/couvert/_form.html.twig') }}

    <a href="{{ path('app_couvert_index') }}">back to list</a>
{% endblock %}
