{% extends 'admin/index.html.twig' %}

{% block title %}New Plat{% endblock %}

{% block section %}
    <h1>Nouveau Plat</h1>

    {{ include('admin/plat/_form.html.twig') }}

    <a href="{{ path('app_plat_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
{% endblock %}
