{% extends 'admin/index.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/reservation-Form.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/reservation-Form.js') }}"defer></script> 
{% endblock %}

{% block section %}
    {# <h1>Reservation</h1> #}

    {{ include('admin/reservationAdmin/_form.html.twig') }} 

    {# <a href="{{ path('app_reservation_index') }}">back to list</a> #}
{% endblock %}
