{% extends 'admin/index.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/reservation-Form.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/reservation-Form.js') }}"defer></script> 
{% endblock %}

{% block section %}
    <div class="h1Admin">
        <h1>Reservation</h1>
        <a href="{{ path('app_reservation_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
    </div>

    {{ include('admin/reservationAdmin/_form.html.twig') }} 

{% endblock %}
