{% extends 'admin/index.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/reservation-Form.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/reservation-Form.js') }}"defer></script> 
{% endblock %}

{% block main %}
    <div class="h1Admin">
        <h1>Réservation</h1>
        <a href="{{ path('app_reservation_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
    </div>

    <div id="fullAlert" class="alert alert-danger" role="alert">
        <strong>Le restaurant est complet,</strong> nous sommes désolés pour ce désagrément !
    </div>

    <div id="formDiv">
        {{ include('admin/reservationAdmin/_form.html.twig') }} 
    </div>

{% endblock %}
