{% extends 'admin/index.html.twig' %}

{% block title %}Edit Horaire{% endblock %}

{% block section %}
    <h1>Horaires</h1>

    {{ include('admin/horaire/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_horaire_index') }}" class="btn btn-outline-primary">Retour</a>
{% endblock %}
