{% extends 'admin/index.html.twig' %}

{% block title %}Edit Horaire{% endblock %}

{% block main %}
    <div class="h1Admin">
        <h1>Horaires</h1>
        <a href="{{ path('app_horaire_index') }}" class="btn btn-outline-primary">Retour</a>
    </div> 

    {{ include('admin/horaire/_form.html.twig', {'button_label': 'Modifier'}) }} 
{% endblock %}
